<span
  :style="{ '--rotate': open ? '90deg' : '0deg' }"
  class="rotate-[--rotate] transition-transform duration-[600ms] ease-out w-2.5 relative h-2.5 flex items-center justify-center"
>
  <span class="w-full h-[1px] bg-current block rotate-[--rotate] transition-transform duration-[600ms] ease-in-out"></span>
  <span class="h-full w-[1px] bg-current absolute block"></span>
</span>
