<div class="grid grid-cols-10 lg:grid-cols-9 gap-2 lg:gap-3">
  <div class="col-span-7 lg:col-span-6">
    <h6 class="medium-serif">{{ item.settings.title }}</h6>
    <div class="medium-sans">{{ item.settings.description }}</div>
  </div>
  {% if item.settings.price %}
    <div class="col-span-2 col-start-9 lg:col-start-8">
      <p class="medium-accent whitespace-nowrap">
        {{ item.settings.price }}
      </p>
    </div>
  {% endif %}
</div>
