<div class="w-full h-full col-span-2 hidden lg:flex items-end col-start-[19] text-bone pb-4">
  <div 
    class="w-full flex flex-col gap-2 duration-500 ease-in-out transition-opacity opacity-0" 
    :class="{ 'opacity-0': !visible || visible && animating }"
  >
    <div class="w-full flex items-center justify-between font-droulers text-[13px] leading-none">
      <p x-text="String(selectedIndex + 1).padStart(2, '0')">01</p>
      <p>/</p>
      <p x-text="String(media.length).padStart(2, '0')">01</p>
    </div>

    <div
      class="grid w-full aspect-[130/164] relative overflow-hidden hover:opacity-70 duration-700 ease-in-out"
      :class="visible ? 'pointer-events-auto' : 'pointer-events-none'"
      @mouseenter="showCursor = false"
      @mouseleave="showCursor = true"
    >
      <template x-for="(item, index) in media" :key="index">
        <div x-show="(selectedIndex + 1) % media.length === index">
          <button class="w-full h-full" @click="selectedIndex = index">
            <img
              :src="item.src"
              :alt="item.alt"
              class="w-full h-full object-cover"
              sizes="calc(((100vw - 89px) / 10) - 1.5px)"
            >
          </button>
        </div>
      </template>
    </div>
  </div>
</div>