{% comment %}
  snippets/hours-and-info-content.liquid
{% endcomment %}

<div class="w-full lg:col-span-13 col-start-9 flex flex-col-reverse lg:flex-col gap-y-16">
  <div class="lg:grid lg:grid-cols-12 gap-x-3">
    <div class="large-info space-y-4 col-span-9 col-start-3 richtext pb-[64px] lg:pb-0">{{ section.settings.additional_info }}</div>
  </div>
  {% render 'hours-and-info-gallery', section: section %}
</div>