<div 
  :style="`--x: ${pointer.last.x}px; --y: ${pointer.last.y}px;`" 
  class="absolute lg:block hidden top-0 left-0 will-change-transform translate-x-[--x] translate-y-[--y] italic font-corfe text-[24px] leading-none touch:hidden"
>
  <span 
    class="block h-max w-max pointer-events-none duration-500 ease-in-out transition-opacity" 
    :class="{ 'opacity-0': !showCursor }"
  >
    <span 
      class="block pl-6 duration-500 ease-in-out transition-opacity opacity-0" 
      :class="{ 'opacity-0': visible && animating || !visible }"
    >
      (Close)
    </span>
  </span>
</div>