{% assign variant_featured_media_ids = '' %}
{% assign filtered_product_media = '' %}

{% assign selected_variant_media = selected_variant.featured_media %}

{% assign variant_media_metafields = selected_variant.metafields.custom.media.value %}
{% assign total_media_count = 0 %}

{% if selected_variant_media %}
  {% assign total_media_count = total_media_count | plus: 1 %}
{% endif %}

{% for variant in product.variants %}
  {% if variant.featured_media %}
    {% assign variant_featured_media_ids = variant_featured_media_ids
      | append: variant.featured_media.id
      | append: ','
    %}
  {% endif %}
{% endfor %}

{% for media in product.media %}
  {% unless variant_featured_media_ids contains media.id %}
    {% assign filtered_product_media = filtered_product_media | append: media.id | append: ',' %}
  {% endunless %}
{% endfor %}

{% assign filtered_product_media_ids = filtered_product_media | split: ',' %}

{% if variant_media_metafields %}
  {% for media in variant_media_metafields %}
    {% assign total_media_count = total_media_count | plus: 1 %}
  {% endfor %}
{% endif %}

{% if section.settings.share_product_media %}
  {% assign total_media_count = total_media_count | plus: filtered_product_media_ids.size %}
{% endif %}

<div x-data="productCarousel" class="w-full contents lg:grid grid-cols-10 gap-3" id="product-variant-media">
  {% if selected_variant_media and variant_media.size > 0 or filtered_product_media_ids.size > 0 %}
    <div x-ref="small-image" role="button" title="View Fullscreen" class="w-full col-span-2 lg:flex items-end hidden">
      <div x-ref="small" class="w-full aspect-[130/162] relative overflow-hidden pointer-events-none">
        <ul class="flex w-full h-full">
          {% if variant_media_metafields %}
            {% for media in variant_media_metafields %}
              <li class="w-full h-full basis-full shrink-0 mr-5 relative overflow-hidden">
                {% render 'image',
                  image: media,
                  width: 260,
                  height: 324,
                  priority: true,
                  sizes: '@media (min-width: 1024px) calc(10vw - 3.5px)'
                %}
              </li>
            {% endfor %}
          {% endif %}
          {% if section.settings.share_product_media %}
            {% for media_id in filtered_product_media_ids %}
              {% assign media_id_number = media_id | plus: 0 %}
              {% assign media = product.media | where: 'id', media_id_number | first %}
              <li class="w-full h-full basis-full shrink-0 mr-5 relative overflow-hidden">
                {% render 'image',
                  image: media,
                  width: 260,
                  height: 324,
                  sizes: '@media (min-width: 1024px) calc(10vw - 3.5px)'
                %}
              </li>
            {% endfor %}
          {% endif %}
          {% if selected_variant_media %}
            <li class="w-full h-full basis-full shrink-0 relative overflow-hidden mr-3">
              {% render 'image',
                image: selected_variant_media,
                width: 260,
                height: 324,
                sizes: '@media (min-width: 1024px) calc(10vw - 3.5px)'
              %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
  <div
    x-ref="large-image"
    role="button"
    title="View Fullscreen"
    class="w-full col-start-3 col-span-8 h-full lg:block contents group"
  >
    <div
      {% if total_media_count > 1 %}
        x-ref="large"
      {% endif %}
      class="w-full aspect-[361/460] lg:aspect-auto h-full relative overflow-hidden"
    >
      <ul class="flex w-full h-full">
        {% if selected_variant_media %}
          <li class="w-full h-full basis-full shrink-0 relative overflow-hidden mr-3">
            {% render 'image',
              image: selected_variant_media,
              width: 1112,
              height: 1336,
              priority: true,
              sizes: '@media (min-width: 1024px) calc(40vw - 5px), calc(100vw - 24px)'
            %}
          </li>
        {% endif %}
        {% if variant_media_metafields %}
          {% for media in variant_media_metafields %}
            <li class="w-full h-full basis-full shrink-0 mr-5 relative overflow-hidden">
              {% render 'image',
                image: media,
                width: 1112,
                height: 1336,
                sizes: '@media (min-width: 1024px) calc(40vw - 5px), calc(100vw - 24px)'
              %}
            </li>
          {% endfor %}
        {% endif %}
        {% if section.settings.share_product_media %}
          {% for media_id in filtered_product_media_ids %}
            {% assign media_id_number = media_id | plus: 0 %}
            {% assign media = product.media | where: 'id', media_id_number | first %}
            <li class="w-full h-full basis-full shrink-0 relative overflow-hidden mr-3">
              {% if forloop.first and selected_variant_media == blank %}
                {% render 'image',
                  image: media,
                  width: 1112,
                  height: 1336,
                  priority: true,
                  sizes: '@media (min-width: 1024px) calc(40vw - 5px), calc(100vw - 24px)'
                %}
              {% else %}
                {% render 'image',
                  image: media,
                  width: 1112,
                  height: 1336,
                  sizes: '@media (min-width: 1024px) calc(40vw - 5px), calc(100vw - 24px)'
                %}
              {% endif %}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <div class="absolute top-0 left-0 w-full h-full py-3 flex justify-between flex-col items-end">
        <div class="flex w-full justify-between items-start px-4">
          <p class="small-sans leading-none opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-linear">
            View Fullscreen
          </p>
          <div class="pt-1 w-max h-max">
            <svg class="w-4 h-4" viewBox="0 0 16 16" fill="none">
              <rect x="0.5" y="0.5" width="15" height="15" stroke="#643600"/>
              <line x1="7.96875" y1="4.26672" x2="7.96875" y2="11.7334" stroke="#643600"/>
              <line x1="11.7344" y1="7.96667" x2="4.26771" y2="7.96667" stroke="#643600"/>
            </svg>
          </div>
        </div>
        {% if total_media_count > 1 %}
          <div class="w-full grid grid-cols-8 gap-3">
            <div class="flex items-center col-span-2 col-start-7">
              <p class="text-left small-accent w-full" x-text="index">01</p>
              <p>/</p>
              <p class="text-right small-accent w-full pr-4">
                {% assign padded_total_media_count = total_media_count | prepend: '0' %}
                {{ padded_total_media_count | slice: -2, 2 }}
              </p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
