<ul class="w-full flex items-center gap-2 subheading">
  <li class="contents">
    <a title="All Items" href="/collections/all" class="no-scroll leading-[1.5]">
      <span class="collection-link">All Items</span>
      {%- if product.collections.size > 1 %},{% endif %}
    </a>
  </li>
  {% if product.collections.size > 0 %}
    {% if section.settings.menu %}
      {% assign primary_links = section.settings.menu.links | first %}
      {% assign secondary_links = section.settings.menu.links | last %}

      {% assign collection_level_one = blank %}
      {% assign collection_level_two = blank %}


      {% assign combined_links = primary_links.links | concat: secondary_links.links %}
      {% assign parent_link = null %}
      {% assign parent_collection = null %}

      {% for link in combined_links %}
        {% if link.object.id == collection.id %}
          {% assign parent_link = link %}
          {% assign parent_collection = link.object %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if parent_link == null %}
        {% for link in primary_links.links %}
          {% if link.links.size > 0 %}
            {% for sub_link in link.links %}
              {% if sub_link.object.id == collection.id %}
                {% assign parent_link = link %}
                {% assign parent_collection = link.object %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% if parent_link %}
              {% break %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if parent_link == null %}
        {% for link in secondary_links.links %}
          {% if link.links.size > 0 %}
            {% for sub_link in link.links %}
              {% if sub_link.object.id == collection.id %}
                {% assign parent_link = link %}
                {% assign parent_collection = link.object %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% if parent_link %}
              {% break %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

    {% else %}
      {% for collection in product.collections %}
        {% unless collection.handle == 'all' %}
          <li class="contents">
            <a title="{{ collection.title }}" href="{{ collection.url }}" class="no-scroll leading-[1.5]"
              ><span class="collection-link">{{ collection.title }}</span>
              {%- unless forloop.last %},{% endunless %}
            </a>
          </li>
        {% endunless %}
      {% endfor %}
    {% endif %}
  {% endif %}
</ul>
