{% assign selectedVariant = product.selected_or_first_available_variant %}

<div class="flex flex-col gap-2 relative">
  <figure class="w-full relative aspect-[201/252]">
    {% render 'image', width: 402, height: 504, image: product.featured_image, priority: priority %}
  </figure>
  <div class="flex flex-col">
    <h3 class="contents">
      <a
        aria-label="{{ product.title }}"
        href="{{ selectedVariant.url }}"
        class="after:absolute after:top-0 after:left-0 after:w-full after:h-full small-serif"
      >
        {{- product.title -}}
      </a>
    </h3>
    <p class="small-accent">{{ selectedVariant.price | money }}</p>
  </div>
</div>
