
<div class="flex gap-2 items-center 
    {% unless type == 'inquire' %}
        before:w-[9px] before:h-[9px] before:bg-current before:rounded-full before:block before:shrink-0
    {% endunless %}
    ">
    {% if type == 'sold-out' %}
        <p class="small-accent uppercase">Sold Out</p>
    {% elsif type == 'on-hold' %}
        <p class="small-accent uppercase">On Hold</p>
    {% elsif type == 'inquire' %}
        <p class="small-accent uppercase">Inquire</p>
    {% endif %}
</div>