<div id="product-price">
  {% if selected_variant.available %}
    <p class="large-accent">{{ selected_variant.price | money }}</p>
  {% elsif product.tags contains 'hold' %}
    {% render 'product-status', type: 'on-hold', large: true %}
  {% elsif selected_variant.available == false %}
    {% render 'product-status', type: 'sold-out', large: true %}
  {% endif %}
</div>
