{% assign has_dot = true %}

{% if type == 'sold-out' and product.tags contains 'OOAK' %}
{% elsif type == 'sold-out' %}
  {% assign has_dot = false %}
{% endif %}

{% if large %}
  <div
    class="
      flex gap-2 lg:gap-3 items-center
      {% unless type == 'inquire' or type == 'request-price' %}
       {% if has_dot %}
          before:w-[9px] before:h-[9px] lg:before:h-4 lg:before:w-4 before:bg-current before:rounded-full before:block before:shrink-0
       {% endif %}
      {% endunless %}
    "
  >
    {% if type == 'sold-out' %}
      {% if product.tags contains 'OOAK' %}
        <p class="large-accent uppercase">Sold</p>
      {% else %}
        <p class="large-accent uppercase">OUT OF STOCK</p>
      {% endif %}
    {% elsif type == 'on-hold' %}
      <p class="large-accent uppercase">On Hold</p>
    {% elsif type == 'inquire' %}
      <p class="large-accent uppercase">Inquire</p>
    {% elsif type == 'request-price' %}
      <p class="large-accent uppercase">Request Price</p>
    {% endif %}
  </div>
{% else %}
  <div
    class="
      flex gap-2 items-center
      {% unless type == 'inquire' or type == 'request-price' %}
        {% if has_dot %}
          before:w-[9px] before:h-[9px] before:bg-current before:rounded-full before:block before:shrink-0
        {% endif %}

      {% endunless %}
    "
  >
    {% if type == 'sold-out' %}
      {% if product.tags contains 'OOAK' %}
        <p class="small-accent uppercase">Sold</p>
      {% else %}
        <p class="small-accent uppercase">OUT OF STOCK</p>
      {% endif %}
    {% elsif type == 'on-hold' %}
      <p class="small-accent uppercase">On Hold</p>
    {% elsif type == 'inquire' %}
      <p class="small-accent uppercase">Inquire</p>
    {% elsif type == 'request-price' %}
      <p class="small-accent uppercase">Request Price</p>
    {% endif %}
  </div>
{% endif %}