<ul class="w-full flex items-center gap-2 subheading">
  <li class="contents">
    <a title="All Items" href="/collections/all" class="no-scroll leading-[1.5]">
      <span class="collection-link">All Items</span>
      {%- if product.collections.size > 1 %},{% endif %}
    </a>
  </li>
  {% if product.collections.size > 0 %}
    {% if section.settings.menu %}
      
    {% else %}
      {% for collection in product.collections %}
        {% unless collection.handle == 'all' %}
          <li class="contents">
            <a title="{{ collection.title }}" href="{{ collection.url }}" class="no-scroll leading-[1.5]"
              ><span class="collection-link">{{ collection.title }}</span>
              {%- unless forloop.last %},{% endunless %}
            </a>
          </li>
        {% endunless %}
      {% endfor %}
    {% endif %}
  {% endif %}
</ul>
