<div class='overflow-hidden h-[--credits-mobile] lg:h-[--credits-desktop] relative z-[1] shrink-0'>
	<div class='w-full text-mahogany h-full bg-chartreuse px-4 gap-y-4 flex flex-col justify-between pt-4 pb-8 lg:py-0 lg:flex-row lg:items-center richtext medium-accent'>
		<div class='contents'>
			{{ section.settings.credits }}
		</div>
		<button
			title='Close'
			@click='toggleCredits'
			class='medium-accent w-max text-left block hover:opacity-50 duration-300 ease-linear transition-opacity'
		>
			(Close)
		</button>
	</div>
</div>
