<div class='overflow-hidden' x-collapse.duration.1200ms x-show='siteCredits'>
	<div class='w-full h-max lg:h-10 text-mahogany bg-chartreuse px-4 gap-y-4 flex flex-col justify-between pt-4 pb-8 lg:py-0 lg:flex-row lg:items-center richtext medium-accent'>
		<div class='contents'>
			{{ section.settings.credits }}
		</div>
		<button
			title='Close'
			@click='toggleCredits'
			class='medium-accent w-max text-left block hover:opacity-50 duration-300 ease-linear transition-opacity'
		>
			(Close)
		</button>
	</div>
</div>
