<div class="overflow-hidden contents gap-4 lg:block">
  <ul class="flex flex-col gap-1.5 lg:gap-0 pt-6 py-[18px] lg:pl-[30px] lg:pb-4 lg:pt-2 ">
    {% for sublink in link.links %}
      <li class="contents">
          <a href="{{ sublink.url }}" title="{{ sublink.title }}" class="menu-item">{{ sublink.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>