<div style="display: none;">
  <svg>
    <symbol class="fill-current" id="wordmark" viewBox="0 0 62 29" fill="none">
        <path d="M0.910034 14.47C0.910034 22.53 6.88002 28.9 15.15 28.9C18.17 28.9 20.82 28.15 22.98 26.66V22.37C21.08 24.46 18.21 25.61 15.22 25.61C9.70003 25.61 5.49005 21.81 4.89005 15.88H22.64V12.6H4.89005C5.75005 6.81999 9.85003 3.27999 15.22 3.27999C18.2 3.27999 21.07 4.46999 22.98 6.55999V2.22999C20.82 0.739988 18.17 -0.0100098 15.15 -0.0100098C6.95002 -0.0100098 0.910034 6.32999 0.910034 14.46" fill="#231F20"/>
        <path d="M26.8201 3.62001C31.1501 3.81001 33.6401 6.30001 33.6401 10C33.6401 13.7 30.7301 15.97 26.8201 16.56V3.62001ZM41.2901 0.450012H38.0101V25.21C34.3601 24.35 31.5601 22.04 30.0701 18.5C34.7301 16.78 36.8201 14.14 36.8201 10C36.8201 3.96001 32.3101 0.450012 23.7701 0.450012H23.55V28.49H26.83V18.2C27.6 21.71 29.6301 24.53 32.6901 26.41C34.9601 27.81 37.86 28.49 41.36 28.49H47.4601V25.4H41.3101V0.450012H41.2901Z" fill="#231F20"/>
        <path d="M58.4501 0.450012V0.970013C58.4501 6.75001 56.1001 11.93 51.8901 15.81C47.6801 11.93 45.33 6.75001 45.33 0.970013V0.450012H42.05V0.60001C42.05 7.91001 44.6601 13.54 50.2501 18.58V28.5H53.5301V18.58C58.9401 13.73 61.7301 8.17001 61.7301 0.60001V0.450012H58.4501Z" fill="#231F20"/>
    </symbol>
  </svg>
</div>
