<div class='contents' x-data='barMenus'>
	<div
		class='w-full relative grid grid-cols-1 grid-rows-1'
		id='menu'
	>
		<div class='contents' id='menu-container'></div>
		<div class='absolute top-0 left-0 w-full h-full lg:grid lg:grid-cols-2 pointer-events-none text-bone'>
			<div
				id='menu-image-mobile'
				class='w-full h-auto aspect-[393/487] lg:aspect-auto lg:h-screen lg:pt-[160px] z-10 relative p-4 lg:pr-0 flex items-center lg:items-start lg:top-0 lg:sticky'
			>
				<div class='w-full flex flex-col gap-y-8'>
					<h2 class='text-[24px] leading-[1.2] font-serif'>Menu</h2>
					<ul class='flex flex-col'>
						<template x-for='(el, index) in menus'>
							<li class='contents'>
								<button
									@click='setMenu(el.id)'
									:disabled='el.id === menu'
									:title='el.title'
									:class="
										{
										  'opacity-50': el.id !== menu
										}
									"
									class='w-full text-[24px] leading-[1.2] font-serif gap-x-4 flex items-center lg:grid lg:grid-cols-10 gap-3 text-left pointer-events-auto hover:opacity-100 duration-300 ease-linear disabled:opacity-100'
								>
									<p
										class='col-span-1 font-droulers text-[22px] leading-[30px]'
										x-number='index + 1'
									></p>
									<p
										class='col-span-9'
										:class="
											{
											  'underline decoration-1 underline-offset-[3px]': el.id === menu
											}
										"
										x-text='el.title'
									></p>
								</button>
							</li>
						</template>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div
		:class="isSticky && 'opacity-0'"
		class='absolute top-0 left-0 w-full bottom-0 pointer-events-none bar-gradient-vanilla z-[1] transition-opacity duration-500 ease-linear'
	></div>
	<div
		:class="
			 {
			'opacity-0': !isSticky
			 }
		"
		:style='`--bg: ${bg};`'
		class='absolute top-0 left-0 lg:left-auto lg:right-0 w-full lg:w-[50vw] bottom-0 pointer-events-none bar-gradient z-[1] opacity-0 transition-opacity duration-500 ease-linear'
	></div>
</div>

{% schema %}
{
	"name": "Bar Menus",
	"class": "contents",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		}
	],
	"presets": [
		{
			"name": "Bar Menus"
		}
	]
}
{% endschema %}
