<div class="absolute inset-0 z-10 pointer-events-none">
  <div class="absolute inset-0 text-mahogany clip-after-100vh">
    {% render 'sticky-bar-content' %}
  </div>
  <div class="absolute inset-0 text-bone clip-within-100vh">
    {% render 'sticky-bar-content' %}
  </div>
</div>

<style>
  .clip-after-100vh {
    clip-path: inset(100vh 0 0 0);
  }
  .clip-within-100vh {
    clip-path: inset(0 0 calc(100% - 100vh) 0);
  }
</style>

{% schema %}
{
  "name": "Sticky Bar Menu",
  "class": "contents",
  "blocks": [
    {
      "type": "section",
      "name": "Section",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "A title for the respective section on the Bar page"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "Reservation Link",
      "info": "The link for the reservation page"
    },
    {
      "type": "text",
      "id": "sticky_reservation_text",
      "label": "Sticky Reservation Text",
      "info": "The text for the sticky reservation CTA"
    },
    {
      "type": "text",
      "id": "initial_reservation_text",
      "label": "Initial Reservation Text",
      "info": "The text for the initial reservation CTA"
    }
  ],
  "presets": [
    {
      "name": "Sticky Bar Menu"
    }
  ]
}
{% endschema %}
