<div
  class="w-full grid grid-cols-2 bg-[--bg-color]"
  style="--color: {{ section.settings.color }}; --bg-color: {{ section.settings.background_color }};"
>
  <div class="w-full relative">
    <div class="w-full top-0 sticky h-screen overflow-hidden">
      {% render 'image', image: section.settings.image, width: 720, height: 860, sizes: '50vw' %}
    </div>
  </div>
  <div class="w-full  text-[--color]"></div>
</div>

{% schema %}
{
  "name": "Bar Menu",
  "class": "contents",
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Category"
        }
      ]
    },
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "number",
          "id": "price",
          "label": "Price",
          "info": "The price of the item without the currency symbol"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "details",
      "label": "Details"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Bar Menu"
    }
  ]
}
{% endschema %}
