<div class="pt-[120px] lg:pt-[160px] w-full px-4" x-data="collection" x-effect="console.log(inTopZone)">
  <div
    id="collection-nav-wrapper"
    class="w-full border-t pt-3 border-current z-10 transition-transform ease-in-out"
    :class="
      {
        'top-16 sticky': !inTopZone || scrollDirection == 'up',
       'translate-y-0': scrollDirection == 'up',
       'duration-700': !inTopZone,
       'translate-y-[-120px]': scrollDirection == 'down' && !inTopZone
      }
    "
  >
    <div id="collection-nav" class="w-full h-max">
      {% render 'collection-nav', menu: section.settings.menu %}
    </div>
  </div>
  <div
    id="product-grid"
    class="w-full pb-32 lg:pb-36 flex flex-col items-center justify-center gap-y-8 lg:gap-y-[66px] pt-12 lg:pt-[71px]"
  >
    {% paginate collection.products by 48 %}
      <ul
        data-product-grid
        class="w-full grid grid-cols-4 lg:grid-cols-20 gap-x-2 lg:gap-x-3 gap-y-8 lg:gap-y-[108px]"
      >
        {% for product in collection.products %}
          {% assign is_priority = false %}

          {% if forloop.index0 < 9 %}
            {% assign is_priority = true %}
          {% endif %}

          {% render 'product-card', product: product, priority: is_priority %}
        {% endfor %}
      </ul>
      {% if paginate.next.url != blank %}
        <a
          x-intersect:enter.margin.1000px="loadProducts()"
          href="{{ paginate.next.url }}"
          class="w-max collection-link subheading"
          id="load-more"
          title="Load more"
        >
          Load more
        </a>
      {% endif %}
    {% endpaginate %}
  </div>
</div>
{% render 'collection-gradient' %}

{% schema %}
{
  "name": "Collection with Filtering",
  "class": "contents",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Collection Menu"
    }
  ],
  "presets": [
    {
      "name": "Collection with Filtering"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{% endschema %}
