{% schema %}
  {
    "name": "FAQ Content",
    "presets": [
      {
        "name": "FAQ Content",
        "category": "Content"
      }
    ]
  }
{% endschema %}


<div id="utility" 
     class="utility-content md:mt-4 md:pt-[48px] py-[64px] md:pb-[48px] grid grid-cols-10 gap-x-3 lg:pl-1.5"
     x-data="faqs">

  <!-- Single template for both category and items -->
  <template x-for="(section, sectionIndex) in faqSections" :key="sectionIndex">
    <div class="lg:col-start-2 lg:col-span-9 col-span-10">
      <!-- Category Title -->
      <div class="mt-8">
        <div class="faq-categories mb-6">
          <span class="faq-category underline-none" x-text="section.heading"></span>
        </div>
      </div>

      <!-- Category FAQs -->
      <div class="lg:mb-8" x-data="{ openSection: null }">
        <div class="faq-items">
          <template x-for="(item, itemIndex) in section.faqItems" :key="itemIndex">
            <div :id="'faq-' + sectionIndex + '-' + itemIndex" class="faq-item grid grid-cols-9 gap-x-3 border-b border-current">
              <button 
                @click="openSection = openSection === ('faq-' + sectionIndex + '-' + itemIndex) ? null : ('faq-' + sectionIndex + '-' + itemIndex)" 
                class="faq-question col-span-9 body-sans w-full text-left flex items-center justify-between py-3"
              >
                <span class="medium-serif" x-text="item.question"></span>
                <span
                  :class="{ 'rotate-180': openSection === ('faq-' + sectionIndex + '-' + itemIndex) }"
                  class="transition-transform duration-800 ease-in-out w-2 relative h-2 flex items-center justify-center"
                >
                  <span class="w-full h-[1px] bg-current block"></span>
                  <span
                    :class="{ 'opacity-0': openSection === ('faq-' + sectionIndex + '-' + itemIndex) }"
                    class="h-full w-[1px] bg-current absolute block transition-opacity duration-800 ease-in-out"
                  ></span>
                </span>
              </button>
              <div
                class="h-0 col-span-8 overflow-hidden transition-all duration-800 ease-in-out"
                :x-ref="'container-' + sectionIndex + '-' + itemIndex"
                x-show="openSection === ('faq-' + sectionIndex + '-' + itemIndex)"
                x-collapse.duration.800ms
              >
                <div class="faq-answer medium-sans pb-6" x-html="item.answer"></div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </template>
</div>
