<div x-data="{ visible: true }" class="fixed top-0 left-0 w-full h-full pointer-events-none">
  <div x-show="visible" class="px-4 gap-3 grid-cols-20 absolute top-0 left-0 w-full h-full hidden lg:grid">
    {% for i in (1..20) %}
      <div class="w-full h-full bg-error/5"></div>
    {% endfor %}
  </div>
  <div x-show="visible" class="px-4 gap-2 grid-cols-10 absolute top-0 left-0 w-full h-full grid lg:hidden">
    {% for i in (1..10) %}
      <div class="w-full h-full bg-error/5"></div>
    {% endfor %}
  </div>
  <div class="w-full h-full flex items-end justify-center p-4">
    <button @click="visible = !visible" class="pointer-events-auto bottom-4 sticky subheading hover:opacity-50 duration-200 ease-linear" x-text="visible ? 'Hide grid' : 'Show grid'"></button>
  </div>
</div>

{% schema %}
{
  "name": "Grid",
  "class": "contents",
  "presets": [
    {
      "name": "Grid"
    }
  ]
}
{% endschema %}
