<header class="fixed left-0 w-full top-0 h-max z-10 p-4 group">
  <nav aria-label="Main Navigation" class="w-full flex items-start justify-between relative">
    <ul class="hidden lg:flex items-center gap-16">
      {% for link in section.settings.menu.links %}
        <li class="contents">
          <a
            {% if forloop.first %}
              @click="toggleMenu"
            {% endif %}
            title="{{ link.title }}"
            href="{{ link.url }}"
            class="nav-link group-hover:opacity-50 hover:!opacity-100"
          >
            {{- link.title -}}
          </a>
        </li>
      {% endfor %}
    </ul>
    <button
      @click="toggleMenu"
      title="Toggle Menu"
      class="lg:hidden nav-link group-hover:opacity-50 hover:!opacity-100"
    >
      Menu
    </button>
    <button title="Bag" @click="$store.cart.open" class="nav-link group-hover:opacity-50 hover:!opacity-100">
      Bag (
      {{- cart.item_count -}}
      )
    </button>
    <h1 class="flex items-start absolute top-0 left-0 w-full h-full justify-center pointer-events-none">
      <a href="/" title="Erly" class="nav-link pointer-events-auto">
        <svg class="fill-current h-[22px] lg:h-[31px] w-[138px] lg:w-[185px] aspect-auto shrink-0">
          <use xlink:href="#wordmark"></use>
        </svg>
      </a>
    </h1>
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "class": "contents",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Navigation Menu"
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
