<header
 
  :class="
    {
      'is-animating': animating
    }
  "
  class="fixed top-0 left-0 w-full h-screen z-[51] lg:z-50 pointer-events-none group"
  @set-theme.window="isForcedTheme = $event.detail"
>
  <button
    :class="
      {
        'opacity-0': !menu,
        'pointer-events-auto': menu
      }
    "
    class="absolute top-0 left-0 h-full w-full opacity-0 delay-[400ms] bg-bone-tint/30 transition-opacity duration-300 ease-linear lg:bg-transparent lg:transition-none"
    @click="closeMenu"
  ></button>
  {% render 'menu', menu: section.settings.menu %}
    <h1
    :class="{ 'is-menu': menu }"
    class="flex items-start absolute p-4 pt-[15px] top-0 left-0 w-full justify-center group"
    >
    <a
    href="/"
    title="Quarters"
    class="
      relative h-[22px] lg:h-[31px] w-[138px] lg:w-[185px] group-[.is-menu]:delay-300 transition-opacity duration-300 ease-linear
      {% if section.settings.hideHomepageHeader and template == 'index' %}
        opacity-0
      {% elsif template.suffix == 'bar' %}
        opacity-0
      {% else %}
        pointer-events-auto
      {% endif %}
    "
    {% if section.settings.hideHomepageHeader %}
      :class="{
        'opacity-0': !hasHeader && !menu,
        'opacity-100 lg:opacity-0': $store.cart.visible && window.innerWidth < 1024,
        'pointer-events-auto': activeUrl !== '/' || menu
      }"
    {% endif %}
  >
    <svg
      class="absolute fill-current h-full aspect-[138/22] lg:aspect-[185/31] shrink-0 transition-colors duration-300 ease-linear"
      :class="{
        'text-bone': isForcedTheme == 'light' && !menu || headerColor === '#F4EED0' && !menu && (!$store.cart.visible || window.innerWidth >= 1024),
        'text-mahogany': (headerColor === '#643600' || menu || ($store.cart.visible && window.innerWidth < 1024)) && !(isForcedTheme == 'light' && !menu)
      }"
    >
      <use xlink:href="#wordmark"></use>
    </svg>
  </a>
  </h1>
  <nav
    aria-label="Main Navigation"
    :class="
      {
        'is-menu': menu,
        'is-cart': $store.cart.visible,
        'delay-0': isScrolling || forcedHeaderColor
      }
    "
    :style="`--header-theme: ${forcedHeaderColor || headerColor}`"
    class="absolute left-0 w-full top-0 flex items-start justify-between h-max p-4 pt-3 transition-colors ease-linear duration-200"
  > 
    <ul class="hidden lg:flex items-center gap-16">
      {% for link in section.settings.menu.links %}
        {% unless link.title == 'Mobile Only' %}
          <li class="contents">
            {% if forloop.first %}
              <button
                @click="toggleMenu"
                title="Shop"
                class="nav-link group-[.is-menu]:opacity-100 pointer-events-auto"
              >
                {{ link.title }}
              </button>
            {% else %}
              <a
                title="{{ link.title }}"
                href="{{ link.url }}"
                class="nav-link group-[.is-menu]:opacity-50 group-[.is-menu]:delay-200 group-[.is-menu]:hover:delay-0 group-[.is-menu]:hover:opacity-100 pointer-events-auto"
              >
                {{- link.title -}}
              </a>
            {% endif %}
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
    <button
      @click="toggleMenu"
      title="Toggle Menu"
      class="lg:hidden nav-link"
      :class="menu || $store.cart.visible ? 'opacity-0' : 'pointer-events-auto'"
    >
      Menu
    </button>
    <button
      @click="closeMenu"
      title="Close Menu"
      x-cloak
      x-show="menu"
      class="lg:hidden nav-link pointer-events-auto"
    >
      (Close)
    </button>
    <button
      :title="$store.cart.visible ? 'Close Bag' : 'View Bag'"
      :class="menu && 'hidden'"
      @click="$store.cart.toggle()"
      class="nav-link lg:block group-[.is-menu]:opacity-50 group-[.is-menu]:delay-200 group-[.is-menu]:hover:delay-0 group-[.is-menu]:hover:opacity-100 pointer-events-auto"
    >
      <span
        :class="
          {
            'hidden': $store.cart.visible,
            'contents': !$store.cart.visible
          }
        "
        class="contents lg:contents"
        >Bag (<span class="contents" x-number="$store.cart.count">
          {%- render 'prefix-number', number: cart.item_count -%}</span
        >)</span
      >
      <span
        :class="
          {
            'contents': $store.cart.visible,
            'hidden': !$store.cart.visible
          }
        "
        class="hidden lg:hidden"
        >(Close)</span
      >
    </button>
  </nav>
</header>

{% schema %}
{
  "name": "Header",
  "class": "contents",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Navigation Menu"
    },
    {
      "type": "checkbox",
      "id": "hideHomepageHeader",
      "label": "Hide Wordmark",
      "info": "This will hide the large wordmark at the center of the Header for the homepage.",
      "default": true
    },
    {
      "type": "text",
      "id": "contentHeading",
      "label": "Desktop Content Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Desktop Content"
    },
    {
      "type": "richtext",
      "id": "address",
      "label": "Mobile Address"
    },
    {
      "type": "richtext",
      "id": "contact",
      "label": "Mobile Contact"
    }
  ]
}
{% endschema %}
