<div class="h-svh overflow-hidden w-full relative hero-y-gradient">
  <div class="absolute top-0 left-0 w-full h-full pointer-events-none select-none">
    {% assign allBlock = section.blocks | where: 'type', 'all' | first %}

    {% if allBlock != blank %}
      <div class="absolute top-0 left-0 w-full h-full">
        {% if allBlock.settings.video != blank %}
          {% render 'video'; video: allBlock.settings.video; loop: true %}
        {% else %}
          {% render 'image'; image: allBlock.settings.image, width: 1440, height: 860, sizes: '100vw', priority: true, nopin: true %}
        {% endif %}
      </div>
    {% else %}
      {% assign desktopBlock = section.blocks | where: 'type', 'desktop' | first %}
      {% assign mobileBlock = section.blocks | where: 'type', 'mobile' | first %}

      <div class="absolute top-0 left-0 w-full h-full hidden md:block">
        {% if desktopBlock.settings.video != blank %}
          {% render 'video'; video: desktopBlock.settings.video; loop: true %}
        {% else %}
          {% render 'image'; image: desktopBlock.settings.image, width: 1440, height: 860, sizes: '100vw', priority: true, nopin: true %}
        {% endif %}
      </div>
      <div class="absolute top-0 left-0 w-full h-full hidden md:block lg:hidden">
        {% if mobileBlock.settings.video != blank %}
          {% render 'video'; video: mobileBlock.settings.video; loop: true %}
        {% else %}
          {% render 'image'; image: mobileBlock.settings.image, width: 1440, height: 860, sizes: '100vw', nopin: true %}
        {% endif %}
      </div>
      <div class="absolute top-0 left-0 w-full h-full md:hidden">
        {% if mobileBlock.settings.video != blank %}
          {% render 'video'; video: mobileBlock.settings.video; loop: true %}
        {% else %}
          {% render 'image'; image: mobileBlock.settings.image, width: 786, height: 1344, sizes: '100vw', priority: true, nopin: true %}
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="pointer-events-none absolute top-0 p-4 left-0 w-full h-full text-[--header-theme] flex items-end lg:translate-y-[calc(var(--transform-y)*-1)] z-[2]">
    <div class="w-full gap-3 grid-cols-2 contents lg:grid items-end">
      <div class="w-full relative lg:block hidden">
        <div class="medium-serif text-balance max-w-[455px] richtext prose-a:pointer-events-auto">{{ section.settings.content }}</div>
      </div>
      <div class="w-full relative flex flex-col gap-4 lg:grid lg:grid-cols-2 lg:gap-3">
        <div class="subheading prose-a:hover:opacity-50 prose-a:duration-300 prose-a:ease-linear prose-a:w-max prose-a:pointer-events-auto">
          {{ section.settings.address }}
        </div>
        <div class="subheading lg:block grid grid-cols-10 first:prose-p:col-span-6 richtext-hover-only prose-a:pointer-events-auto">
          {{ section.settings.contact }}
        </div>
      </div>
    </div>
  </div>
  {% if section.settings.wordmark %}
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-[--header-theme] pointer-events-none">
      <button
        @click="openMenu"
        title="Menu"
        class="h-max w-max transition-opacity duration-[600ms] ease-[--fade-out-easing]"
        :class="menu ? 'md:opacity-0 delay-0' : 'delay-500 pointer-events-auto'"
      >
        <svg class="fill-current h-9 w-[212px] lg:h-[66px] lg:w-[400px] aspect-auto shrink-0">
          <use xlink:href="#wordmark"></use>
        </svg>
      </button>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Hero",
  "blocks": [
    {
      "type": "desktop",
      "name": "Desktop",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    },
    {
      "type": "mobile",
      "name": "Mobile",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    },
    {
      "type": "all",
      "name": "Desktop & Mobile",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "wordmark",
      "label": "Wordmark",
      "info": "This will show the large wordmark at the center of the Hero.",
      "default": true
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "richtext",
      "id": "address",
      "label": "Address"
    },
    {
      "type": "richtext",
      "id": "contact",
      "label": "Contact"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
