<div id="page-settings" class="contents">
  <style>
      :root {
        --header-theme: {{ section.settings.textColor }};
        --text-color: {{ section.settings.textColor }};
        --background-color: {{ section.settings.backgroundColor }};
      }
      
      body {
        color: var(--text-color);
        background-color: var(--background-color);
      }
  </style>
</div>

{% schema %}
{
  "name": "Page Settings",
  "class": "contents",
  "settings": [
    {
      "type": "color",
      "id": "textColor",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Background Color",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "Page Settings"
    }
  ]
}
{% endschema %}