<div id="page-settings" class="contents">
  {% style %}  
    :root {
      --header-theme: {{ section.settings.textColor }};
      --text-color: {{ section.settings.textColor }};
      --background-color: {{ section.settings.backgroundColor }};
    }
    
    html, body {
      color: var(--text-color) !important;
      background-color: var(--background-color) !important;
    }

{% endstyle %}
</div>

{% schema %}
{
  "name": "Page Settings",
  "class": "contents",
  "settings": [
    {
      "type": "select",
      "id": "headerTheme",
      "label": "Initial Navigation Theme",
      "options": [
        { "label": "Light", "value": "light" },
        { "label": "Dark", "value": "dark" }
      ],
      "default": "dark"
    },
    {
      "type": "color",
      "id": "textColor",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Background Color",
      "default": "#FFFFFF"
    }
  ],
  "presets": [
    {
      "name": "Page Settings"
    }
  ]
}
{% endschema %}