<main id="utility-content" class="utility-content md:mt-4 md:pt-[48px] py-[64px] md:pb-[80px] grid grid-cols-10 gap-x-3">
    <div class="md:col-start-2 md:col-span-8 col-span-10">{{ page.content }}</div>
</main>