<div id="utility" class="utility-content md:mt-4 grid grid-cols-10 gap-x-3 lg:pl-1.5">
    <div class="lg:col-start-2 lg:col-span-8 col-span-10 md:pt-[48px] py-[64px] md:pb-[80px] richtext-hover-only medium-serif">{{ page.content }}</div>
</div>