<div class="utility-menu">
  {% if section.settings.menu != blank %}
    {% render 'utility-menu', menu: section.settings.menu %}
  {% endif %}
    <div class="grid grid-cols-10 gap-x-3">
      <div class="text-sm font-sans col-span-10 md:col-span-6 text-underline md:max-w-[343px] richtext-hover-only">
          {{ section.settings.secondary_text }}
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "Utility Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Select Menu"
      },
      {
        "type": "richtext",
        "id": "secondary_text",
        "label": "Secondary Text"
      }
    ],
    "presets": [
      {
        "name": "Utility Menu",
        "category": "Navigation"
      }
    ]
  }
{% endschema %}