<div class="utility-menu w-full flex flex-col justify-between border-r border-mahogany mt-4 pt-[48px] sticky top-0 max-h-[calc(100vh-160px)] overflow-y-auto">
  {% if section.settings.menu != blank %}
    {% render 'utility-menu', menu: section.settings.menu %}
  {% endif %}
  {% if section.settings.secondary_text != blank %}
  <div class="grid grid-cols-10 gap-x-3">
    <div class="text-sm font-sans mb-4 col-span-5">{{ section.settings.secondary_text }}</div>
  </div>

  {% endif %}
</div>

{% schema %}
  {
    "name": "Utility Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Select Menu"
      }, {
        "type": "richtext",
        "id": "secondary_text",
        "label": "Secondary Text"
      }
    ],
    "presets": [
      {
        "name": "Utility Menu",
        "category": "Navigation"
      }
    ]
  }
{% endschema %}