{% if page.metafields.custom.secondary_text == blank %}
  {% assign page.metafields.custom.secondary_text = "Secondary Text" %}
{% endif %}

<div class="utility-menu">
  {% if section.settings.menu != blank %}
    {% render 'utility-menu', menu: section.settings.menu %}
  {% endif %}
    <div class="grid grid-cols-10 gap-x-3">
      <div class="text-sm font-sans col-span-10 md:col-span-5 text-underline">
          {{ page.metafields.custom.secondary_text }}
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "Utility Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Select Menu"
      }
    ],
    "presets": [
      {
        "name": "Utility Menu",
        "category": "Navigation"
      }
    ]
  }
{% endschema %}