@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --fade-in-delay: 200ms;
        --fade-in-duration: 200ms;
        --fade-in-easing: linear;

        --fade-out-duration: 800ms;
        --fade-out-easing: cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    body {
        overscroll-behavior: none;
        @apply bg-bone-tint text-mahogany font-serif;
    }

    html {
        @apply !pb-0;
    }

    a,
    button {
        @apply outline-none focus:outline-none;
    }

    ul,
    li {
        @apply leading-none;
    }


}

@layer utilities {
    .large-serif {
        @apply font-serif text-[22px] leading-[27px] lg:text-2xl lg:leading-[29px];
    }

    .large-italic {
        @apply italic font-corfe text-[22px] leading-[27px] lg:text-2xl lg:leading-[29px];
    }

    .large-accent {
        @apply font-droulers text-[20px] leading-[27px] lg:text-[22px] lg:leading-[29px];
    }

    .large-info {
        @apply font-serif text-[22px] leading-[27px] lg:text-[20px] lg:leading-[24px];
    }

    .subheading {
        @apply font-medium font-sans text-[11px] leading-[1.5] uppercase tracking-[0.04em];
    }

    .medium-serif {
        @apply font-serif text-base leading-[20px];
    }

    .medium-italic {
        @apply italic font-corfe text-base leading-[20px];
    }

    .medium-sans {
        @apply font-sans text-[15px] leading-[20px];
    }

    .medium-accent {
        @apply font-droulers text-[14.5px] leading-[20px];
    }

    .small-serif {
        @apply font-serif text-[15px] leading-[18px] lg:text-[14px] lg:leading-[17px];
    }

    .small-sans {
        @apply font-sans text-[14px] leading-[18px] lg:text-[13px] lg:leading-[17px];
    }

    .small-accent {
        @apply font-droulers text-[14px] leading-[18px] lg:text-[13px] lg:leading-[17px];
    }

    .spicy-header {
        @apply font-droulers text-[54px] leading-[1.2];
    }

    .spicy-body {
        @apply font-droulers text-[18px] leading-[24px];
    }

    .hero-y-top {
        @apply h-[240px] lg:h-[160px];
        background: linear-gradient(180deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;
    }

    .hero-y-bottom {
        @apply h-[240px] lg:h-[160px];
        background: linear-gradient(180deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;
        transform: rotate(-180deg);
    }

    .cart-bottom-gradient {
        content: ''; ; 
        @apply h-[calc(120px+var(--announcement-bar-height,0px))] absolute left-0 bottom-0 w-full block pointer-events-none;
        background: linear-gradient(180deg, #F8F8EC 0%, rgba(248, 248, 236, 0) 100%);
        transform: rotate(-180deg);
    }

    .cart-top-gradient {
        content: '';
        @apply h-[calc(120px+var(--announcement-bar-height,0px))] lg:h-[calc(68px+var(--announcement-bar-height,0px))] absolute left-0 top-0 w-full block pointer-events-none;
        background: linear-gradient(180deg, #F8F8EC 0%, rgba(248, 248, 236, 0) 100%);
    }
    .menu-top-gradient {
        content: '';
        @apply h-[calc(120px+var(--announcement-bar-height,0px))] lg:h-[calc(160px+var(--announcement-bar-height,0px))] sticky w-full top-0 block;
        background: linear-gradient(180deg, #F8F8EC 0%, rgba(248, 248, 236, 0) 100%);
    }

    .fullscreen-left-gradient {
        @apply w-[50vw] h-full absolute left-0 bottom-0 top-0 block pointer-events-none;
        background: linear-gradient(90deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;
    }

    .fullscreen-top-gradient {
        @apply h-[50%] absolute left-0 top-0 w-full block pointer-events-none;
        background: linear-gradient(180deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;
    }

    .nav-gradient::before {
        @apply h-[calc(120px+var(--announcement-bar-height,0px))] lg:h-[calc(160px+var(--announcement-bar-height,0px))] sticky w-full block;
        top:0;
        content: '';
        background: linear-gradient(180deg, #FAF8EC 0%, rgba(250, 248, 236, 0) 100%);
        pointer-events: none;
    }

    .bar-gradient::before {
        @apply h-[calc(120px+var(--announcement-bar-height,0px))] lg:h-[calc(160px+var(--announcement-bar-height,0px))] sticky w-full top-0 block;
        top:0;
        content: '';
        background: linear-gradient(180deg, var(--bg) 0%, rgba(250, 248, 236, 0) 100%);
        pointer-events: none;
    }

    .bar-gradient-vanilla::before {
        @apply h-[calc(120px+var(--announcement-bar-height,0px))] lg:h-[calc(160px+var(--announcement-bar-height,0px))] sticky w-full top-0 block;
        top:0;
        content: '';
        background: linear-gradient(180deg, #F0DA8F 0%, rgba(250, 248, 236, 0) 100%);
        pointer-events: none;
    }
 

    .clip-within-100vh {
        clip-path: inset(0 0 calc(100% - 200vh) 0);
    }

    .hero-bar-left-gradient {
        /* 1/4 Gradient Fade */
        @apply w-[50vw] h-full absolute left-0 bottom-0 top-0 block pointer-events-none;
        background: linear-gradient(90deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;

    }

    .hero-bar-top-gradient {
        @apply h-[calc(160px+var(--announcement-bar-height,0px))] absolute left-0 top-0 w-full block pointer-events-none;
        background: linear-gradient(180deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;
    }

    .hero-bar-y-top {
        @apply h-[calc(120px+var(--announcement-bar-height,0px))] lg:h-[calc(160px+var(--announcement-bar-height,0px))] absolute left-0 top-0 w-full block pointer-events-none z-[1];
        background: linear-gradient(180deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;
    }

    .hero-bar-bottom {
        @apply h-[calc(120px+var(--announcement-bar-height,0px))] lg:h-[calc(160px+var(--announcement-bar-height,0px))] absolute left-0 bottom-0 w-full block pointer-events-none z-[1];
        background: linear-gradient(180deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;
        transform: rotate(-180deg);
    }

    .has-arrow {
        @apply before:content-['→'] before:block flex items-center gap-x-2.5;
    }

    .bar-left-gradient {
        @apply absolute left-0 top-0 w-[50%] h-full block pointer-events-none;
        background: linear-gradient(90deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;
    }

    .bar-menu-top-gradient {
        @apply absolute top-0 left-0 w-full h-16 block pointer-events-none transition-colors duration-200 ease-linear;
        background: linear-gradient(180deg, #F0DA8F 0%, rgba(240, 218, 143, 0) 100%);
    }

    .bar-menu-bottom-gradient {
        @apply absolute bottom-0 left-0 w-full h-16 block pointer-events-none transition-colors duration-200 ease-linear;
        background: linear-gradient(0deg, #F0DA8F  0%, rgba(240, 218, 143, 0) 100%)
    }

    .bar-menu-mobile-gradient {
        @apply absolute top-0 left-0 w-full h-full block pointer-events-none;

        background: linear-gradient(180deg, rgba(100, 54, 0, 0.5) 0%, rgba(100, 54, 0, 0) 100%);
        mix-blend-mode: multiply;
        border: 1px solid #FF0000;
        transform: rotate(-90deg);
    }


    .strike-through {
        @apply flex items-center overflow-hidden w-max;
        @apply after:w-full after:absolute after:h-[1px] after:bg-current;
    }
}

@layer components {
    .nav-link {
        @apply font-serif text-base leading-[20px] text-current transition-opacity duration-300 ease-linear hover:opacity-50 hover:delay-0;
    }

    .menu-item {
        @apply w-max font-serif text-[22px] lg:text-base leading-[27px] lg:leading-[20px] text-current hover:italic;
    }

    .collection-link {
        @apply hover:opacity-50 duration-300 ease-linear aria-[current=page]:underline leading-[1.5] lg:leading-[11px];
    }

    .hero-y-gradient {
        @apply before:pointer-events-none after:pointer-events-none before:hero-y-top before:absolute before:left-0 before:top-0 before:w-full before:z-[1] before:block after:hero-y-bottom after:absolute after:left-0 after:bottom-0 after:w-full after:block;
    }

    .button {
        @apply disabled:cursor-wait w-full h-10 lg:h-8 flex leading-none items-center justify-between px-4 bg-mahogany hover:bg-mahogany-hover duration-300 ease-linear transition-colors text-bone-tint subheading uppercase
    }

    .button.is-alt {
        @apply bg-bone hover:bg-bone-tint text-mahogany;
    }

    .rez-button {
        @apply uppercase hover:bg-mahogany-hover hover:text-bone spicy-body bg-mahogany border border-mahogany hover:border-mahogany-hover text-bone px-4 h-10 lg:h-8 flex items-center justify-between transition-colors duration-200 ease-linear;
    }

    .rez-button.is-alt {
        @apply bg-transparent border-bone border hover:bg-bone hover:text-mahogany;
    }

}

/*
 * The transition when filtering the characters.
 * Here, we are animating the `.teaeser` elements individually
 */

/*
 * The transition when filtering the characters.
 * Here, we are animating the `.teaeser` elements individually
 */

#collection-nav,
#product-grid,
#main,
#product-variant-media,
#utility {
    @apply transition-opacity;
    will-change: opacity;
}

html.is-animating #main,
#collection-nav.is-animating,
#product-grid.is-animating,
#product-variant-media.is-animating,
#utility.is-animating {
    opacity: 0;
}

html.is-changing #main,
#collection-nav.is-changing,
#product-grid.is-changing,
#product-variant-media.is-changing,
#utility.is-changing {
    @apply duration-[--fade-in-duration] ease-[--fade-in-easing];
}

html.is-leaving #main,
#collection-nav.is-leaving,
#product-grid.is-leaving,
#product-variant-media.is-leaving,
#utility.is-leaving {
    @apply duration-[--fade-out-duration] ease-[--fade-out-easing];
}

.richtext a {
    @apply w-max underline decoration-1 underline-offset-2 hover:opacity-50 duration-300 ease-linear;
}

.richtext-hover-only a {
    @apply hover:opacity-50 duration-300 ease-linear w-max;
}


.richtext-info-links a {
    @apply font-sans text-[14px] leading-[18px] lg:text-[13px] lg:leading-[17px] text-current transition-opacity duration-300 ease-linear hover:opacity-50 hover:delay-0;
    position: relative;
    padding-left: 1.5em;
}


.richtext-info-links a::before {
    content: "→";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 300ms linear;
}

.richtext-info-links a:hover::before {
    opacity: 0.5;
}


nav {
    color: var(--header-theme);
    @apply delay-[600ms]
}

html.is-changing nav,
html.is-changing header h1 a,
html.is-changing header h1 a svg:last-child {
    @apply delay-0;
}

nav.is-menu {
    @apply text-mahogany delay-300;
}

@media (max-width: 1023px) {
    nav.is-cart {
        @apply text-mahogany delay-300;
    }
}

input {
    @apply outline-none h-full w-full text-left placeholder:text-current text-current rounded-none bg-transparent focus:outline-none;
}

.page-divider {
    @apply absolute top-0 left-0 w-full h-full block;
}


/* Utility Template */

.utilty_template {
    @apply lg:grid lg:grid-cols-2 px-4 pt-[120px] lg:pt-[160px] z-20;
    position: relative;
}

.utilty_template::before {
    @apply top-[120px] lg:top-[160px]; 
    content: '';
    position: absolute;
    left: 1rem;
    right: 1rem;
    height: 1px;
    background-color: var(--text-color);
}


.utility_template>div:last-child {
    overflow-y: auto;
    height: 100%;
}

.utilty_template .utility-menu {
    @apply w-full flex flex-col gap-y-[64px] lg:justify-between border-b lg:border-b-0 lg:border-r border-[var(--text-color)] lg:my-4 lg:pt-[48px] overflow-y-auto py-6 lg:pb-0 lg:sticky lg:top-[170px];
}

@media (min-width: 1024px) {
    .utilty_template .utility-menu {
        height: calc(100vh - 187px);
    }
}

.utilty_template .utility-content h3,
.faq-category {
    @apply uppercase font-medium font-sans text-[11px] leading-[150%] tracking-[0.04em];
}

.utilty_template .utility-content h3:not(:first-child) {
    @apply mt-16;
}

.utilty_template .utility-content h3+p {
    @apply mt-6;
}

.utilty_template .utility-content>*:first-child {
    @apply mt-0;
}

.utilty_template .utility-content a {
    @apply underline;
}

.text-underline>a, .text-underline p a {
    @apply underline;
}

.footer-top-padding {
    @apply pt-[120px] sm:pt-[120px] xs:pt-[60px];
}