@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-height: 50px;
        --fade-out-easing: cubic-bezier(0.65, 0.05, 0.36, 1);
        --default-ease: cubic-bezier(0.4, 0, 0.2, 1);
    }

    @screen lg {
        :root {
            --header-height: 60px;
        }
    }

    body {
       
    }
    
    a, button {
        @apply outline-none focus:outline-none;
    }
}

@layer utilities {

}

@layer components {
   
}